[Unit]
Description=LinuxCNC: back up config to NAS
Documentation=https://github.com/ChriRas/linuxcnc-nas-sync
After=network-online.target

[Service]
Type=oneshot
ExecStart=@PREFIX@/bin/config-backup
Nice=19
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
@AFFINITY@
LogLevelMax=notice
SyslogLevel=notice
